# Ignorer les environnements virtuels
env/
venv/
.venv/

# Ignorer les fichiers logs
*.log

# Ignorer les fichiers temporaires Python
__pycache__/
*.pyc
*.pyo

# Ignorer les fichiers spécifiques à l’OS
.DS_Store
Thumbs.db
